#table tbody {
    width: 100%;
}

.tablesorter {
    width: 100%;
    border-collapse: collapse;
}

    .tablesorter th {
        text-decoration: underline;
    }

    .tablesorter th,
    .tablesorter td {
        padding: 2px;
        text-align: left;
        font-size: 15px;
        color: black;
    }

    .tablesorter thead tr {
        display: block;
        position: relative;
    }

    .tablesorter tbody {
        display: block;
        overflow-y: scroll;
        width: 100%;
        height: 300px;
    }

        .tablesorter tbody tr:nth-child(even) {
            background-color: #DDD;
        }

    .tablesorter .filtered {
        display: none;
    }

.tablesorter-filter-row td {
    background: #eee;
    line-height: normal;
    text-align: center;
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
}

.tablesorter-filter-row .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed;
}

.tablesorter-filter-row.hideme td {
    padding: 2px;
    margin: 0;
    line-height: 0;
    cursor: pointer;
}

.tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tablesorter-filter {
    width: 95%;
    height: inherit;
    margin: 4px;
    padding: 4px;
    background-color: #fff;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}
